
<div class="container">
  <div class="row">
    <div class="col-xs-4  text-center answer">
      Your answer is: <%= @answer %>
    </div>

    <div class="col-xs-4 text-center answer">
      word in_grid? <%= @in_grid %>
    </div>
    <div class="col-xs-4 text-center answer">
      Your time is <%= @time %> seconds
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-center answer">
      Your score is: <%= @score %> <%= @message %>
    </div>
    <div class="col-xs-4 text-center answer">
      Does the word exist? <%= @exists %>
    </div>
  </div>
</div>


